.App {
  text-align: center;
  background-image: url('../public/safari-tour-realistic-illustration_52683-78209.avif');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;

}

.weather-wrap {
  width: 400px;
  background-color: #1a1a35d5;
  border-radius: 20px;
  margin: 0 auto;
  color: white;
  padding: 40px;
}

.input-search {
  width: 80%;
  background: #0b02023d;
  color: white;
  margin-bottom: 10px
}

.weather-details {
  background-color: #16362f;
  padding: 20px;
  border-radius: 10px;
}

.screen-width {
  margin: 0 0 10px 0;
}

.other-weather-details {
  display: flex;
  width: 100%;

}

.weather-mood {
  font-size: 60px;
}

.temp-date-time {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background-color: black;
}

.temperature {
  font-size: 35px;

}

.city-place {
  font-size: 16px;
}

.mood {
  font-size: 25px;
  margin-top: 20px;
}

.temp-mood {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;

}

.date-time {
  display: grid;
}

.detils-icon {
  display: flex;
  align-items: center;
  border-right: 1px solid #ffffff1e;
  border-top: 1px solid #ffffff1e;
  border-bottom: 1px solid #ffffff1e;
  padding: 0 10px;
  width: 25%;
}

.detils-icon:last-child {
  padding: 0 0px 0 10px;

}

.detils-icon:first-child {
  padding: 0 10px 0 0;
  border-left: 1px solid #ffffff1e;
}

.weather-icon {
  font-size: 25px;
  display: inline;
}

.weather-icon-details {
  font-size: 16px;
  display: inline;

}

@media screen and (min-width: 485px) {

  .weather-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      width: 400px;
  }
}

@media screen and (max-width: 485px) {
  .weather-wrap {
    display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      padding: 40px;

  }
}

@media screen and (min-width: 1700px) {
  .weather-wrap {
  }
}

@media screen and (min-width: 1360px) {
  .weather-wrap {
  }
}